{% extends "base.html" %}

{% block stylesheet %}
{% endblock %}


{% block body %}
    <h1>Liste des utilisateurs</h1>
    <ul>
    {% for user in users %}
        <li>{{ user.nom }} {{ user.prenom }} {{ user.ville.nom }}</li>
    {% endfor %}
    </ul>
{% endblock %}